.cima{
  height: 700px;
  background-color: black;
  //display: flex;
}



.btn{
  width: fit-content;
  align-content: center;
  justify-content: center;
  padding: 14px;
  margin-left: 20px;
  margin-top: 1px;
  cursor: pointer;
}


.nxt{
  width: fit-content;
  align-content: center;
  justify-content: center;
  padding: 14px;
  margin-left: 20px;
  margin-top: 1px;
  cursor: pointer;
}

.pre{
  width: fit-content;
  align-content: center;
  justify-content: center;
  padding: 14px;
  margin-left: 300px;
  margin-top: 1px;
  cursor: pointer;
}
